h2 {
	text-align: center;
	margin-bottom: 20px;
}

a {
	display: block;
	text-align: center;
	margin-bottom: 20px;
	color: #007bff;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

form {
	display: flex;
	flex-direction: column;
}

label {
	font-weight: bold;
	padding-bottom: 8px;
	margin-top: 12px;
}


.address {
	margin-top: 12px;
}

.address input {

	margin-bottom: 12px !important;
	margin-top: 8px !important;
}

input[type="text"],
input[type="number"],
.react-datepicker-wrapper,
.css-yk16xz-control {
	width: 100%;
	padding: 8px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.btnDiv {
	display: flex;
	justify-content: center;
}

button {
	padding: 10px 20px;
	margin-top: 20px;
	background-color: #646cff !important;
	color: rgb(255, 255, 255);
	border: none;
	border-radius: 4px;
	cursor: pointer;
	align-self: center;

}

button:hover {
	background-color: #0056b3 !important;
}